.button-scale {
  background-color: pink;
  border-radius: 8px;
  transition: all 100ms;
}

/* This is specific css rules for what happens when you hover with the mouse over the button */
.button-scale:hover {
  scale: 1.1;
}

/* What effect happens when you click on a button */
.button-scale:active {
  scale: 0.9;
}

/* Animations */

.animate-red-to-green {
  animation-name: red-to-green;
  animation-duration: 1s;
}

@keyframes red-to-green {
  from {
    color: brown;
  }
  to {
    color: green;
  }
}