.button-scale {
  background-color: pink;
  border-radius: 8px;
  transition: all 100ms;
}

/* This is specific css rules for what happens when you hover with the mouse over the button */
.button-scale:hover {
  scale: 1.1;
}

/* What effect happens when you click on a button */
.button-scale:active {
  scale: 0.9;
}

/* Animations */

.animate-red-to-green {
  animation-name: red-to-green;
  animation-duration: 1s;
}

@keyframes red-to-green {
  from {
    color: brown;
  }
  to {
    color: green;
  }
}

.animated-ball {
  background-color: black;
  height: 200px;
  width: 200px;
}

/* Writing with a > means that you choose the thing that is within the element in front of the > */
.animated-ball > div {
  background-color: palevioletred;
  height: 50px;
  width: 50px;
  border-radius: 9999px;
  margin-left: auto;
  margin-right: auto;

  animation-name: bouncing-ball;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bouncing-ball {
  to {
    transform: translateY(150px);
  }
}